relatorio/n8n-workflow-relatorio-semanal.json
{
  "name": "Relatorio Semanal Tini Tiny",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Segunda 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  -- Instagram (ultimos 7 dias)\n  (SELECT json_build_object(\n    'followers', MAX(followers),\n    'avg_engagement', ROUND(AVG(engagement_rate)::numeric, 2),\n    'total_likes', SUM(likes),\n    'total_views', SUM(views),\n    'total_posts', COUNT(DISTINCT id)\n  ) FROM instagram_metrics WHERE timestamp >= NOW() - INTERVAL '7 days') AS instagram,\n\n  -- TikTok (ultimos 7 dias)\n  (SELECT json_build_object(\n    'followers', MAX(followers),\n    'total_views', SUM(video_views),\n    'total_likes', SUM(likes),\n    'avg_engagement', ROUND(AVG(engagement_rate)::numeric, 2)\n  ) FROM tiktok_metrics WHERE timestamp >= NOW() - INTERVAL '7 days') AS tiktok,\n\n  -- Pinterest (ultimos 7 dias)\n  (SELECT json_build_object(\n    'impressions', SUM(impressions),\n    'saves', SUM(saves),\n    'clicks', SUM(outbound_clicks)\n  ) FROM pinterest_metrics WHERE timestamp >= NOW() - INTERVAL '7 days') AS pinterest,\n\n  -- Meta Ads (ultimos 7 dias)\n  (SELECT json_build_object(\n    'spend', ROUND(SUM(spend)::numeric, 2),\n    'impressions', SUM(impressions),\n    'clicks', SUM(clicks),\n    'ctr', ROUND(AVG(ctr)::numeric, 2),\n    'roas', ROUND(AVG(roas)::numeric, 2),\n    'conversions', SUM(conversions)\n  ) FROM meta_ad_metrics WHERE timestamp >= NOW() - INTERVAL '7 days') AS meta_ads,\n\n  -- Shopify (ultimos 7 dias)\n  (SELECT json_build_object(\n    'total_orders', COUNT(*),\n    'total_revenue', ROUND(SUM(total_price)::numeric, 2),\n    'avg_order_value', ROUND(AVG(total_price)::numeric, 2)\n  ) FROM shopify_orders WHERE created_at >= NOW() - INTERVAL '7 days') AS shopify,\n\n  -- GA4 (ultimos 7 dias)\n  (SELECT json_build_object(\n    'sessions', SUM(sessions),\n    'users', SUM(users),\n    'bounce_rate', ROUND(AVG(bounce_rate)::numeric, 2),\n    'conversions', SUM(conversions)\n  ) FROM google_analytics_metrics WHERE date >= NOW() - INTERVAL '7 days') AS ga4,\n\n  -- WhatsApp vendas (ultimos 7 dias)\n  (SELECT json_build_object(\n    'total_sales', COUNT(*),\n    'total_revenue', ROUND(SUM(value)::numeric, 2)\n  ) FROM whatsapp_sales WHERE sale_date >= NOW() - INTERVAL '7 days') AS whatsapp_sales",
        "additionalFields": {}
      },
      "id": "postgres-metrics",
      "name": "Puxar Metricas 7 dias",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "SUBSTITUIR_CREDENTIAL_ID",
          "name": "Railway Postgres Tracker"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  -- Instagram semana anterior (pra comparacao)\n  (SELECT json_build_object(\n    'followers', MAX(followers),\n    'avg_engagement', ROUND(AVG(engagement_rate)::numeric, 2),\n    'total_likes', SUM(likes),\n    'total_views', SUM(views)\n  ) FROM instagram_metrics WHERE timestamp >= NOW() - INTERVAL '14 days' AND timestamp < NOW() - INTERVAL '7 days') AS instagram_prev,\n\n  -- Meta Ads semana anterior\n  (SELECT json_build_object(\n    'spend', ROUND(SUM(spend)::numeric, 2),\n    'roas', ROUND(AVG(roas)::numeric, 2),\n    'conversions', SUM(conversions)\n  ) FROM meta_ad_metrics WHERE timestamp >= NOW() - INTERVAL '14 days' AND timestamp < NOW() - INTERVAL '7 days') AS meta_ads_prev,\n\n  -- Shopify semana anterior\n  (SELECT json_build_object(\n    'total_orders', COUNT(*),\n    'total_revenue', ROUND(SUM(total_price)::numeric, 2)\n  ) FROM shopify_orders WHERE created_at >= NOW() - INTERVAL '14 days' AND created_at < NOW() - INTERVAL '7 days') AS shopify_prev",
        "additionalFields": {}
      },
      "id": "postgres-prev-week",
      "name": "Puxar Semana Anterior",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 520],
      "credentials": {
        "postgres": {
          "id": "SUBSTITUIR_CREDENTIAL_ID",
          "name": "Railway Postgres Tracker"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-data",
      "name": "Combinar Dados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 400]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "claude-sonnet-4-20250514",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Voce e a diretora de inteligencia de mercado da Tini Tiny, marca brasileira de tapetes infantis premium.\n\nGere o RELATORIO SEMANAL DE INTELIGENCIA com base nos dados abaixo.\n\n## DADOS DA SEMANA ATUAL\n{{ JSON.stringify($json.instagram) }}\n{{ JSON.stringify($json.tiktok) }}\n{{ JSON.stringify($json.pinterest) }}\n{{ JSON.stringify($json.meta_ads) }}\n{{ JSON.stringify($json.shopify) }}\n{{ JSON.stringify($json.ga4) }}\n{{ JSON.stringify($json.whatsapp_sales) }}\n\n## DADOS DA SEMANA ANTERIOR (comparacao)\n{{ JSON.stringify($json.instagram_prev) }}\n{{ JSON.stringify($json.meta_ads_prev) }}\n{{ JSON.stringify($json.shopify_prev) }}\n\n## FORMATO DO RELATORIO\nGere um HTML completo e bonito (inline CSS, cores da marca: sage #C1D9D7, blush #F2C4C4, off-white #FFFDF9) com:\n\n1. **Resumo Executivo** (3 bullets: melhor resultado, pior resultado, acao urgente)\n2. **Dashboard de Metricas** (tabela comparativa semana atual vs anterior, com setas de tendencia)\n3. **Redes Sociais** (Instagram, TikTok, Pinterest — engagement, crescimento, posts que performaram)\n4. **Meta Ads** (spend, ROAS, CPA, CTR — comparativo semanal)\n5. **Vendas** (Shopify + WhatsApp — receita, pedidos, ticket medio)\n6. **Site** (GA4 — sessoes, bounce rate, conversoes)\n7. **Recomendacoes** (3-5 acoes concretas pra proxima semana)\n\nUse a identidade visual da Tini Tiny. Logo sempre minusculo: tini tiny. Tom quente e direto."
            }
          ]
        },
        "options": {
          "maxTokens": 8000
        }
      },
      "id": "claude-api",
      "name": "Claude Gera Relatorio",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [960, 400],
      "credentials": {
        "anthropicApi": {
          "id": "SUBSTITUIR_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/tini-tiny/tinitiny-marketing/contents/relatorio/{{ new Date().toISOString().slice(0,10) }}/relatorio.html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'relatorio semanal ' + new Date().toISOString().slice(0,10), content: Buffer.from($json.text || $json.output || '').toString('base64') }) }}",
        "options": {}
      },
      "id": "github-save",
      "name": "Salvar no GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SUBSTITUIR_CREDENTIAL_ID",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUBSTITUIR_INSTANCE_ID/token/SUBSTITUIR_TOKEN/send-text",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: 'SUBSTITUIR_TELEFONE_BIA', message: '📊 Relatorio semanal Tini Tiny pronto!\\n\\nData: ' + new Date().toISOString().slice(0,10) + '\\n\\nAcesse o relatorio no repo tinitiny-marketing ou rode /relatorio-semanal no Claude Code pra ver os detalhes.' }) }}",
        "options": {}
      },
      "id": "whatsapp-bia",
      "name": "Notificar Bia (WhatsApp)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUBSTITUIR_INSTANCE_ID/token/SUBSTITUIR_TOKEN/send-text",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: 'SUBSTITUIR_TELEFONE_CAMILA', message: '📊 Relatorio semanal Tini Tiny pronto!\\n\\nData: ' + new Date().toISOString().slice(0,10) + '\\n\\nRoda /semana-conteudo no Claude Code pra planejar os posts da semana!' }) }}",
        "options": {}
      },
      "id": "whatsapp-camila",
      "name": "Notificar Camila (WhatsApp)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 500]
    }
  ],
  "connections": {
    "Segunda 8h": {
      "main": [
        [
          { "node": "Puxar Metricas 7 dias", "type": "main", "index": 0 },
          { "node": "Puxar Semana Anterior", "type": "main", "index": 0 }
        ]
      ]
    },
    "Puxar Metricas 7 dias": {
      "main": [
        [
          { "node": "Combinar Dados", "type": "main", "index": 0 }
        ]
      ]
    },
    "Puxar Semana Anterior": {
      "main": [
        [
          { "node": "Combinar Dados", "type": "main", "index": 1 }
        ]
      ]
    },
    "Combinar Dados": {
      "main": [
        [
          { "node": "Claude Gera Relatorio", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude Gera Relatorio": {
      "main": [
        [
          { "node": "Salvar no GitHub", "type": "main", "index": 0 }
        ]
      ]
    },
    "Salvar no GitHub": {
      "main": [
        [
          { "node": "Notificar Bia (WhatsApp)", "type": "main", "index": 0 },
          { "node": "Notificar Camila (WhatsApp)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  }
}
